.root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pageHeader {
  margin-bottom: 2rem;
  padding-left: 1rem;
  font-family: "Cinzel", serif;
  font-size: 2rem;
  font-weight: bold;
  color: var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
}
