.root {
  display: flex;
  flex-direction: row;
  background: var(--olive);
  border-radius: 1rem;
  cursor: pointer;
}

.profilePicContainer {
  background-image: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75) ), url(img/profileDefault.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 1rem 0 0 1rem;

  animation-duration: .5s;
  animation-name: contract;
  animation-timing-function: ease-in-out;

  /* Keyword values */
  /* animation-timing-function: ease;
  animation-timing-function: ease-in;
  animation-timing-function: ease-out;
  animation-timing-function: ease-in-out;
  animation-timing-function: linear;
  animation-timing-function: step-start;
  animation-timing-function: step-end; */

  /* Function values */
  /* animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  animation-timing-function: steps(4, end); */

  /* Steps Function keywords */ 
  /* animation-timing-function: steps(4, jump-start);
  animation-timing-function: steps(10, jump-end);
  animation-timing-function: steps(20, jump-none);
  animation-timing-function: steps(5, jump-both);
  animation-timing-function: steps(6, start);
  animation-timing-function: steps(8, end); */

  /* Multiple animations */
  /* animation-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1); */

  /* Global values */
  /* animation-timing-function: inherit;
  animation-timing-function: initial;
  animation-timing-function: unset; */
}

.profilePic {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 1rem 0 0 1rem;
  filter: saturate(250%);
}

.detailsContainer {
  padding: 1rem 1rem 1rem .5rem;
  color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.name {
  flex: 0;
  border-bottom: 1px solid #333333;
}

.details {
  flex: 1;
  display: none;
}

.deceased {
  background: var(--dark-gray);
}

.deceased .profilePic {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.deceased .detailsContainer {
  color: var(--ruby);
}

.wight {
  background: var(--ice);
}

.wight .profilePic {
  filter: sepia(50%) hue-rotate(170deg) saturate(250%);
}

.wight .detailsContainer {
  color: var(--snow);
}

.active .profilePicContainer {
  width: 10rem;
  height: 15rem;

  animation-duration: .5s;
  animation-name: expand;
}

.active .details {
  display: flex;
}



@keyframes expand {
  from {
    width: 5rem;
    height: 5rem;
  }

  to {
    width: 10rem;
    height: 15rem;
  }
}

@keyframes contract {
  from {
    width: 10rem;
    height: 15rem;
  }

  to {
    width: 5rem;
    height: 5rem;
  }
}


@media (min-width: 0px) {
  .root {
    margin-bottom: 1rem;
  }

  .profilePicContainer {
    width: 5rem;
    height: 5rem;
    margin: .2rem;
    margin-right: .5rem;
  }
}


@media (min-width: 768px) {
  .root {
    margin-bottom: 2rem;
  }

  .profilePicContainer {
    width: 8rem;
    height: 8rem;
  }
}
