.root {
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  cursor: pointer;
}

.profilePicContainer {
  background-image: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75) ), url(img/profileDefault.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 1rem 0 0 1rem;
}

.profilePic {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 1rem 0 0 1rem;
  filter: saturate(250%);
}

.detailsContainer {
  flex: 1;
  padding: 1rem 1rem 1rem .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.name {
  flex: 0;
  padding-left: .5rem;
}

.details {
  flex: 1;
  display: none;
  margin-top: 1rem;
  overflow: auto;
}

.characterPanel a {
  font-weight: bold;
}

.quote {
  margin: .5rem;
  padding: 1rem 1rem .2rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.summary {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: justify;
}

.userPanel {
  
}

.userPanel table {
  width: 100%;
  border: 1px solid #333333;
}

.userPanel th {
  padding: .2rem;
  background: var(--dark-gray);
  color: var(--off-white);
  border-bottom: 1px solid var(--black);
  font-family: "Cinzel", serif;
  font-size: .8rem;
  text-align: center;
}

.userPanel td {
  width: 2rem;
  border-bottom: 1px solid var(--black);
  font-size: 1rem;
  text-align: center;
}

td.status1 {
  background: var(--bg-color-alive);
}

td.status2 {
  background: var(--bg-color-deceased);
}

td.status3 {
  background: var(--bg-color-wight);
}

.stats {
  position: absolute;
  right: 20px;
  top: 8px;
}

.stats td {
  padding: .25rem .5rem;
  border: 1px solid var(--dark-gray);
  font-family: "Cinzel", serif;
  font-size: 1rem;
  font-weight: 800;
}






.alive {
  background: var(--bg-color-alive);
  color: var(--font-color-alive);
}

.alive .name {
  border-bottom: 1px solid var(--font-color-alive);
}

.alive .quote {
  background: var(--bg-color-alive-inverse);
  color: var(--font-color-alive-inverse);
}

.alive a {
  color: var(--font-color-alive);
}

.deceased {
  background: var(--bg-color-deceased);
  color: var(--font-color-deceased);
}

.deceased .profilePic {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.deceased .name {
  border-bottom: 1px solid var(--font-color-deceased);
}

.deceased .quote {
  background: var(--bg-color-deceased-inverse);
  color: var(--font-color-deceased-inverse);
}

.deceased a {
  color: var(--font-color-deceased);
}

.wight {
  background: var(--bg-color-wight);
  color: var(--font-color-wight);
}

.wight .profilePic {
  filter: sepia(50%) hue-rotate(170deg) saturate(250%);
}

.wight .name {
  border-bottom: 1px solid var(--font-color-wight);
}

.wight .quote {
  background: var(--bg-color-wight-inverse);
  color: var(--font-color-wight-inverse);
}

.wight a {
  color: var(--font-color-wight);
}

.active .details {
  display: flex;
}

.inactive {
  animation-duration: .5s;
  animation-name: contract;
  animation-timing-function: ease-in-out;
}




@media (min-width: 0px) {
  .root {
    margin-bottom: 1rem;
  }

  .profilePicContainer {
    width: 5rem;
    height: 5rem;
    margin: .2rem;
    margin-right: .5rem;
  }

  .stats {
    display: none;
  }

  .details {
    flex-direction: column;
  }

  .characterPanel {
  
  }

  .userPanel {
    margin-top: 2rem;
  }

  .root.active {
    height: calc(30rem + .4rem);
  }

  .active .profilePicContainer {
    width: 10rem;
    height: 30rem;
  }
}


@media (min-width: 520px) {
  .stats {
    display: block;
  }
}


@media (min-width: 768px) {
  .root {
    margin-bottom: 1rem;
  }

  .profilePicContainer {
    width: 8rem;
    height: 8rem;
  }

  .details {
    flex-direction: row;
  }

  .characterPanel {
    flex: 3;
    padding-bottom: 1rem;
  }
  
  .userPanel {
    flex: 1;
    margin-top: 0;
    margin-left: 2rem;
  }

  .root.active {
    margin-left: 2rem;
    height: calc(30rem + .4rem);
  }

  .active .profilePicContainer {
    width: 20rem;
    height: 30rem;
  }

}
