.root {
  flex: 1;
}

.root table {
  width: calc(100% - 1px);
  margin-bottom: 2px;
}

.root tr {
  border-bottom: 2px solid var(--dark-gray);
}

.root th {
  width: 60%;
  padding: .2rem;
  font-family: "Cinzel", serif;
  font-size: 2.5rem;
  text-align: right;
}

.root td {
  width: 40%;
  text-align: center;
  font-size: 4rem;
}




.first {
  color: var(--olive);
  background-color: var(--olive-transparent);
}

.second {
  color: var(--ruby);
  background-color: var(--ruby-transparent);
}

.third {
  color: var(--ice);
  background-color: var(--ice-transparent);
}

.last {
  color: var(--light-gray);
}

.last td,
.last th {
  padding: 1.4rem;
  font-size: 2rem;
}

tr.footer {
  border-bottom: 0;
}

.footer td {
  padding: 1rem;
  color: var(--light-gray);
  font-size: 1rem;
  font-weight: bold;
  background: var(--black);
}
