.root {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.formRow {
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
  border-bottom: 1px solid var(--dark-gray);
}

.formRow.status1 {
  color: var(--olive);
  background-color: rgba(162, 170, 51, .2);
}

.formRow.status2 {
  color: var(--ruby);
  background-color: rgba(170, 59, 51, .2);
}

.formRow.status3 {
  color: var(--ice);
  background-color: rgba(87, 190, 245, .2);
}

.formRowSpacer {
  height: 3rem;
}

.formItemLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 2;
  padding: 0 1rem;
}

.formItem {
  padding: 0 1rem;
}

.formItem.flex1 {
  flex: 1;
}

.formItem.flex2 {
  flex: 2;
}

.formItem.flex3 {
  flex: 3;
}

.formItme.flex4 {
  flex: 4;
}

.formItem.flex5 {
  flex: 5;
}

.formItem.flex6 {
  flex: 6;
}
