.root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.root.bg1 { background: var(--black) url(img/bg1.jpg) no-repeat center center fixed;background-size: cover; }
/* .root.bg2 { background: var(--black) url(img/bg2.jpg) no-repeat center center fixed;background-size: cover; }
.root.bg3 { background: var(--black) url(img/bg3.jpg) no-repeat center center fixed;background-size: cover; }
.root.bg4 { background: var(--black) url(img/bg4.jpg) no-repeat center center fixed;background-size: cover; }
.root.bg5 { background: var(--black) url(img/bg5.jpg) no-repeat center center fixed;background-size: cover; } */

.container {
  max-width: calc(var(--lg) - 60px);
  background: rgba(0,0,0,.75);
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header {
  flex: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.logo {
  background: url(img/logo.png);
  background-size: cover;
}

.banner {
  flex: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--lapis);
}

.title {
  font-weight: bold;
  text-shadow: 2px 2px 10px #000000;
}

.quote {
  font-style: italic;
  margin-bottom: 12px;
  color: var(--secondary-text);
  text-shadow: 1px 1px 1px var(--light-gray);
}

.breadCrumbs {
  color: var(--off-white);
  font-family: "Cinzel", serif;
}

.body {
  flex: 1;
}

.footer {
  flex: 0;
  min-height: 50px;
  padding: 1rem;
  background: var(--lapis);
  border-top: 1px solid var(--off-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 1rem;
}

.footer a {
  color: var(--off-white);
}

.footer a:hover {
  color: #333333;
}


@media (min-width: 0px) {
  .container {
    width: 100%;
    min-height: 100vh;
  }

  .header {
    border-radius: 35px 0 0 35px;
  }

  .banner {
    flex: 0;
    height: 75px;
    padding: .5rem 2rem 0 90px;
    border-bottom: 1px solid var(--dark-gray);
    border-radius: 35px 0 0 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .header h1 {
    font-size: 3.5rem;
  }

  .breadCrumbs {
    padding: 1rem 1rem 0;
    font-size: 1.5rem;
  }

  .link {
    padding: 0 1rem;
    font-weight: bold;
    cursor: pointer;
  }

  .divider {
    font-weight: bold;
  }

  .current {
    padding: 0 1rem;
  }

  .logo {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    height: 75px;
    background-size: cover;
  }

  .quote {
    display: none;
  }

  .body {
    padding: 1rem;
  }
}


@media (min-width: 768px) {
  .container {
    width: calc(100% - 60px);
    min-height: calc(100vh - 35px);
    margin: 35px 30px 0;
    border-radius: 0 24px 0 0;
  }

  .header {
    border-radius: 0 24px 0 0;
  }

  .banner {
    height: 110px;
    padding: 2rem 2rem 0 190px;
    border-bottom: 3px solid var(--dark-gray);
    border-radius: 0 24px 0 0;
  }

  .breadCrumbs {
    padding: 1rem 3rem 1rem 200px;
    font-size: 1.5rem;
  }

  .link {
    padding: 0 1rem;
    font-weight: bold;
    cursor: pointer;
  }

  .divider {
    font-weight: bold;
  }

  .current {
    padding: 0 1rem;
  }

  .logo {
    position: absolute;
    left: -30px;
    top: -35px;
    width: 200px;
    height: 200px;
  }

  .quote {
    display: block;
  }

  .body {
    padding: 2rem;
  }
}
