.root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background: var(--black) url(img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 1150px;
  min-height: calc(100vh - 35px);
  margin-top: 35px;
  margin-left: 30px;
  background: rgba(0,0,0,.65);
}

.header {
  flex: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 190px;
  padding-right: 24px;
  margin-bottom: 50px;
  border-bottom: 3px solid #333333;
}

.logo {
  position: absolute;
  left: -30px;
  top: -35px;
  width: 200px;
  height: 200px;
  background: url(img/logo.png);
  background-size: cover;
}

.title {
  font-weight: bold;
  text-shadow: 2px 2px 10px #000000;
}

.quote {
  font-style: italic;
  margin-bottom: 12px;
  color: var(--secondary-text);
  text-shadow: 1px 1px 1px var(--light-gray);
}

.body {
  flex: 1;
  margin: 24px;
}

.footer {
  flex: 0;
  height: 50px;
  background: var(--lapis);
  border-top: 2px solid var(--ice);
}
