.root {
  display: flex;
  flex-direction: column;
}

.bodyContainer {
  display: flex;
}


@media (min-width: 0px) {
  .bodyContainer {
    flex-direction: column;
  }

  .leaderboardPanel {
    margin-bottom: 5rem;
  }
}

@media (min-width: 768px) {
  .bodyContainer {
    flex-direction: row;
  }

  .leaderboardPanel {
    flex: 3;
    margin-right: 2rem;
  }

  .characterPanel {
    flex: 2;
    height: 100%;
  }
}

