.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 2px solid var(--black);
}

.bidderContainer {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--dark-gray);
  align-items: center;
  cursor: pointer;
}

.first {
  color: var(--olive);
  background-color: var(--olive-transparent);
}

.second {
  color: var(--ruby);
  background-color: var(--ruby-transparent);
}

.third {
  color: var(--ice);
  background-color: var(--ice-transparent);
}

.last {
  color: var(--light-gray);
}

.bidderName {
  flex: 1;
  font-family: "Cinzel", serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
}

.bidderScore {
  flex: 1;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}
