:root {
  /* breakpoints min-width */
  --xs: 320px;
  --sm: 500px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1200px;

  /* colors */
  --black: #000000;
  --off-white: #eeeeee;
  --light-gray: #aaaaaa;
  --dark-gray: #333333;
  --blue-berry: #3b33aa;
  --lapis: #3366aa;
  --ice: #57bef5;
  --snow: #d4e8f3;
  --ruby: #aa3b33;
  --olive: #a2aa33;
  
  /* color aliases */
  --primary-text: var(--off-white);
  --secondary-text: var(--ice);
  --accent-text: var(--olive);
  --warning-text: var(--ruby);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-text);
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Cinzel", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 12px;
}
input[type=file] {
  width: 100%;
}


@media (min-width: 0px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 14px;
  }

  h5 {
    font-size: 12px;
  }
}

@media (min-width: 500px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 14px;
  }

  h5 {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  
}
